@font-face {
  font-family: 'Avenir-Book';
  src: url('fonts/Avenir-Book.ttf')  format('truetype')
}
@font-face {
  font-family: 'Avenir-Black';
  src: url('fonts/Avenir-Black.ttf')  format('truetype')
}
@font-face {
  font-family: 'Avenir-Heavy';
  src: url('fonts/Avenir-Heavy.ttf')  format('truetype')
}
@font-face {
  font-family: 'Avenir-Medium';
  src: url('fonts/Avenir-Medium.ttf')  format('truetype')
}
@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url('fonts/SourceSansPro-Bold.ttf')  format('truetype')
}
@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url('fonts/SourceSansPro-Regular.ttf')  format('truetype')
}

html,body {
  height:100%;
  margin:0;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
}
header {
    background-color: #222222;
    border: 0px;
    height: 160px;
    padding-top: 53px;
    width: 100%;
}

.row {
    position: relative;
    display: block;
}
.btn-circle {
    width: 100%;
    height: 100%;    
    position: absolute;
    display: block;
    top: 80%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid;
    border-color: gray;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    z-index: 10;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    color: gray;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.navbar-nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
    font-size: 20px;
    margin-top: 8px;
}
.navbar-nav li a.active {
    background-color: #eee;
    color: #111;   
}
.navbar-nav li a:hover {
    color: #111;
}
.navbar-default {
    background-color: #222;
    border: none;
}
.page1central {
    width:100%; 
    min-height: calc(100vh - 160px);
    background: url('content/hbg.jpg') no-repeat center;
    background-size: cover;
}
.page2central {
    width:100%; 
    min-height: 100vh;
    background: url('/content/Joes Hardware all devices.jpg') no-repeat center;
    background-size: cover;    
}
.page3central {
    width:100%; 
    min-height: 100vh;
}
.height100vh {
    height: 100vh;
    min-height: 100vh;    
}

.page1central .opaquebox {
    height: calc(100vh - 160px);
    background-color: rgba(255,255,255,0.5);
}
 .page2central .opaquebox {
    height: 100vh;
    background-color: rgba(255,255,255,0.5);
}
.textblock {
    color: #000;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 36px;
}
.ultextblock {
    color: #000;
    position: relative;
    top: 50vh;
    transform: translateY(-50%);
    font-family: 'SourceSansPro-Bold';
    font-size: 25px;
}
.ultextblock div {
    height: 100px;
}
.ultextblock div:after {
    content: '';
    display: block;
    clear: both;
}
.ultextblock > div > p{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.ultextblock1:before{
    content: url(images/section3-icon1.png);
    float: left;
    margin-right: 38px;
    padding-top: 12px;
}
.ultextblock2:before{
    content: url(images/section3-icon2.png);
    float: left;
    margin-right: 38px; 
    padding-top: 24px;       
}
.ultextblock3:before{
    content: url(images/section3-icon3.png);
    float: left;
    margin-right: 38px;
    padding-top: 16px;       
}
.ultextblock4:before{
    content: url(images/section3-icon4.png);
    float: left;
    margin-right: 38px; 
    padding-top: 18px;       
}
.imgblock {
    position: relative;
    top: 50%;
    transform: translateY(-50%);  
}
.page1central .smallertext {
    font-family: 'Avenir-Heavy';
    font-size: 39px;
    line-height: 60px;
}
.page1central .biggertext {
    font-family: 'Avenir-Black';
    text-transform: uppercase;
    font-size: 66px;
    line-height: 78px;
}
.page2central .smallertext {
    font-family: 'Avenir-Heavy';
    font-size: 39px;
    line-height: 48px;
}
.page2central .biggertext {
    font-family: 'Avenir-Black';
    font-size: 66px;
    line-height: 96px;
}
.page1box {
    display: inline;
}
.page2central, .page3central, .page5central {
    width:100%; 
    min-height: 100vh;
}
.page4central, .page6central, .page8central {
    width:100%; 
    min-height: 100vh; 
    background-color: #222222;      
}
.page7central {
    width:100%; 
    min-height: 100vh; 
    background-color: #fff; 
    color: #000;      
}
.page1box {
    width:25%; 
    min-height: 100vh;    
}
.page4central .video {
    #text-align: center;
    #position: relative;
    #top: 50%;
    height: 80%;
    transform: translateY(5%);    
}
.page5centraltext {
    position: relative;
    top: 50%;
    transform: translateY(-50%);        
}
.page4central h2 {
    color: white;
    text-align: center;
    font-size: 31px;
    font-family: 'Avenir-Black';   
    margin-bottom: 40px;
    margin-top: 0;     
}
.page5centraltext p {
    margin: 0;
}
.page6centraltitle {
    color: white;
    text-align: center;
    font-size: 31px;
    font-family: 'Avenir-Black'; 
    height: 100px;
}
.page6centraltitle h2{
    position: relative;
    top: 50%;
    transform: translateY(-50%);   
    font-size: 41px;    
}
.page6centraltextblock {
    height: calc(100vh - 100px);
}
.page8centraltextblock {
    height: 100vh;
}
.page6centraltext h3, .page8centraltext h3 {
    font-size: 36px;
    font-family: 'Avenir-Heavy';  
    line-height: 57px;       
}
.page6centraltext p, .page8centraltext p {
    font-size: 23px;
    font-family: 'Avenir-Book'; 
    line-height: 22px;        
}
.page6centraltext, .page8centraltext {
    position: relative;
    top: 50%;
    transform: translateY(-50%);  
    color: #fff;  
    text-align: center;  
}
.button2 {
    width: 44%;
    color: white;
    text-align: center;
    font-size: 25px;
    line-height: 80px;
    margin: auto;
    display: block;
    font-family: 'Avenir-Black';
    background-color: #003D6A;
    margin-top: 35px;
}
.button2:hover {
    text-decoration: none;
    color: white;    
    background-color: #004772;
}
.page7centraltextblock {
    height: 100vh;
}
.page7centraltext h3 {
    font-size: 36px;
    font-family: 'Avenir-Heavy';  
    line-height: 57px;       
}
.page7centraltext p {
    font-size: 23px;
    font-family: 'Avenir-Book'; 
    line-height: 22px;        
}
.page7centraltext {
    position: relative;
    top: 50%;
    transform: translateY(-50%);   
    text-align: center;  
}
.button3 {
    width: 44%;
    border: 2px solid #000;
    color: #000;
    text-align: center;
    font-size: 25px;
    line-height: 80px;
    margin: auto;
    display: block;
    font-family: 'Avenir-Black';
    background-color: #fff;
    margin-top: 35px;
}
.button3:hover {
    text-decoration: none;
    color: #000;    
    background-color: #ddd;
}
.text1style {
    color: #000;
    font-family: 'SourceSansPro-Regular';
    font-size: 25px;
}
.text2style {
    color: #000;
    font-family: 'SourceSansPro-Bold';
    font-size: 25px;    
}
.text3style {
    color: #000;
    font-family: 'SourceSansPro-Regular';
    font-size: 20px;      
}
div.page2hoverblock {
    background-color: rgba(0,0,255,0.25);   
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear;
    width: 100%;
    height: 100vh;
}


div.page1box:hover div.page2hoverblock {
    visibility: visible;
    opacity: 1;
}
.nopadding {
   padding: 0 !important;
}
.nomargin {
   margin: 0 !important;
}

.block1 {
  background: url('/content/Vesta on macbook.jpg') center center no-repeat scroll;  
  background-size: cover;
  height: 100%; 
}
.block2 {
  background: url('/content/shutterstock_303643478.jpg') center center no-repeat scroll;  
  background-size: cover;    
  height: 100%; 
}
.block3 {
  background: url('/content/Joes%20Hardware%20all%20devices.jpg') center center no-repeat scroll;  
  background-size: cover;    
}
.block4 {
  background: url('/content/shutterstock_228783838b.jpg') center center no-repeat scroll;  
  background-size: cover;    
}
.vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);    
}
.button {
    border-style: solid;
    border-color: white;
    border-width: 2px;
    width: 60%;
    color: white;
    text-align: center;
    font-size: 17px;
    line-height: 45px;
    margin: auto;
    display: block;
    font-family: 'Avenir-Medium';
}
.button:hover {
    text-decoration: none;
    background-color: rgba(255,255,255,0.5);
    color:#111;
}

.textabovebutton
{
    border-style: none;
    color: white;
    text-align: center;
    font-size: 31px;
    margin: auto;
    display: block;
    font-family: 'Avenir-Black';    
}

@media (max-width:768px) {

}
@media (min-width: 768px) and (max-width: 992px) {

}
@media (min-width: 992px) and (max-width: 1200px) {

}

html>body .content {
  height:auto;
}

.pagetop {
    #background-color: #222222;
    #color: #222222;
}

.content {
    width:100%; height :100%;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.page2box {
    width: 50%; 
    height: 300px; 
    float: left; 
}

.page2bottom {
    background-color: white;
    height: 500px;    
}

.page1bottom {
    width:100%; 
    height:34%;
    vertical-align: bottom;
}